body {
  background-color: rgb(255, 255, 255);
  font-family: "Red Rose", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
}

nav {
  background-color: #37003c;
  color: white;
  height: 10vh;
}

h1 {
  font-size: 7vh;
  text-align: center;
  margin: 0;
  padding-top: 0.5vh;
}

#teams-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2vh;
  max-width: 102vh;
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
}

.team-card {
  background-color: #bebebe;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 4px;
}

.team-card img {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  display: block;
  margin-top: 4vh;
}

.team-card .team-logo {
  width: 59%;
  height: 59%;
  margin: 0 auto;
  display: block;
  margin-top: 2vh;
}

.team-controllers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5vh;
}

.team-controllers .zoom-icon {
  width: 3vh;
  height: 3vh;
  margin-left: 1vh;
  margin-right: 1vh;
  margin-top: 1vh;
  display: block;
  transition: transform 0.3s ease;
}

.team-controllers .delete-icon,
.edit-icon {
  width: 3vh;
  height: 3vh;
  margin-left: 1vh;
  margin-right: 1vh;
  margin-top: 1vh;
  display: block;
  transition: transform 0.3s ease;
}

.team-controllers .edit-icon {
  width: 3vh;
  height: 3vh;
  margin-left: 1vh;
  margin-right: 1vh;
  margin-top: 1vh;
  display: block;
  transition: transform 0.3s ease;
}

.zoom-icon:hover {
  transform: scale(1.2);
}

.edit-icon:hover {
  transform: scale(1.2);
}

.delete-icon:hover {
  transform: scale(1.2);
}

.add-icon {
  width: 3vh;
  height: 3vh;
  margin-left: 1vh;
  margin-right: 1vh;
  margin-top: 1vh;
  display: block;
  transition: transform 0.3s ease;
}

.add-icon:hover {
  transform: scale(1.2);
}

#credits {
  font-size: 2vh;
  text-align: center;
  margin-top: 2.2vh;
  margin-bottom: 0;
  color: #37003c;
}
